section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
}

section > div {
    padding: 35px;
}

.DocsContainer{
    text-align: center;
}

.inputSection {
    display: flex;
    justify-content: center;
    
}