.textContainer {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 600px;
}

.textContainer--paragraph {
    font-size: 16px;
    text-align: justify;
    line-height: 29px;
}

@media screen and (max-width:610px) {
    .textContainer {
        width: 100%;
        
    }
    
    .textContainer--paragraph, ul {
    margin: 0 30px

    }
}