.aboutContainer {
    text-align: center;
}

.textContent {
    text-align: justify;
    margin: 30px auto;
    width: 700px;
    font-size: 18px;

}

.textContent p {
    text-align: justify;
    line-height: 29px;
}

.textContent img {
    width: 700px;
}

li {
    line-height: 29px;
}

span {
    font-weight: bold;
    color: #6494BB;

}

.span-link a {
    color: #6494BB;
}

.italic {
    font-weight: normal;
    font-style: italic;
    color: #4B4B4B;
}


@media screen and (max-width:610px) {
    .textContent {
        width: 100%;
    }

    .textContent img {
        width: 300px;
        margin: 15px 50px
    }

    .textContent p {
        margin: 0 30px
    }
}