h1 {
    padding: 25px 0;
    font-family: 'Podkova', serif;
    font-size: 52px;
    width:100%;
}


@media screen and (max-width: 610px) {
    h1 {
       
        font-size: 40px;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 35px;
    }
}